.navbar-cart-menu{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 7vh;
    right: 0vw;
    width: 50%;
    height: 92vh;
    background-color: var(--light-dark);
    color: var(--light-white);
    overflow-y: scroll;
}

.navbar-cart-menu button{
   position: absolute;
   top: 0px;
   right: 0px;
   margin: 1vh 1vw;
}

.hide{
    display: none;
}