.navbar-cart-menu{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 7vh;
    right: 0vw;
    width: 50%;
    height: 92vh;
    background-color: #333331f6;
    color: var(--light-white);
    overflow-y:auto;
}

.navbar-cart-menu button{
   position: absolute;
   top: 0px;
   right: 0px;
   margin: 1vh 1vw;
   background-color: transparent;
}

.hide{
    display: none;
}

.navbar-cart-menu h1{
    text-align: center;
}