.main-section-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 2vh 2vw;
    align-items: center;
    gap: 2vw;
    background-color: var(--light-white);
}


@media screen and (max-width: 756px) {
    .main-section-list{
        grid-template-columns: 1fr;
        margin: 5rem;
    }
}