.main-section-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main-section-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-columns: 20rem 20rem 20rem; */
    margin: 2vh 0vw;
    align-items: center;
    gap: 4vh 2vw;
    background-color: var(--light-white);
}



@media screen and (max-width: 756px) {
    .main-section-list{
        grid-template-columns: 1fr;
        margin: 5rem;
    }
}