.main-section-head{
    display: flex;
}

.main-section-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;   
    background-color: var(--light-white);
}


@media screen and (max-width: 640px){
    .show{
        display: none;
    }
}