.navbar{
    background-color: var(--light-dark);
    color: var(--light-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vh 2vw;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1;
}

.navbar-Logo{
    font-size: 1.9rem;
    cursor: pointer;
}

.tone{
    color: var(--main-orange);
}

.navbar-Search{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-white);
    color: var(--light-dark);
    border-radius: 10px;
}

.navbar-Search span{
    border: none;
    outline: none;
    background-color: var(--light-white);
    border-radius: 10px;
}

.navbar-Search input{
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 1vh 0.5vw;
    width: 20vw;
    min-width: 10rem;
    font-size: 1rem;
}

.navbar-menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-menu button{
    border: none;
    outline: none;
    background-color: var(--light-dark);
    color: var(--light-white);
    cursor: pointer;
}

.navbar-menu button:active{
    color: var(--main-orange);
}



.navbar-menu button span{
    font-size: 1.7rem;
}

.navbar-user-menu{
    position: absolute;
    top: 3.5rem;
    right: 3rem;
    background-color: var(--light-dark);
    color: var(--light-white);
    display: flex;
    flex-direction: column;
}

.navbar-user-menu h3{
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    padding: 1vh 1vw;
    cursor: pointer;
}

.navbar-user-menu h3:hover{
    color: var(--main-orange);
}


.hide{
    display: none;
}


.navbar-menu-favorite-badge{
    position: relative;
    background-color: red;
    height: 16px;
    width: 16px;
    border-radius: 50px;
    bottom: 18px;
    left: 35px;
    color: var(--light-white);
}

.navbar-menu-favorite-badge h4{
    position: relative;
    bottom: 2px;
    left: 4.5px;
    font-size: 0.8rem;
}

.navbar-menu-cart-badge{
    position: relative;
    background-color: red;
    height: 16px;
    width: 16px;
    border-radius: 50px;
    bottom: 18px;
    left: 37px;
    color: var(--light-white);
}

.navbar-menu-cart-badge h4{
    position: relative;
    bottom: 2px;
    left: 4.5px;
    font-size: 0.8rem;
}