*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent; 
}
 
*::-webkit-scrollbar-thumb {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #4A4A4A; 
}

*:hover::-webkit-scrollbar-thumb {
  background: #cfcfcf;
}
:root{
  --light-dark: #333331;
  --light-white: #FEFEFE;
  --main-orange: #FF4500;
}

